hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

hr.style-two {
    border: 0;
    height: 1px;
    background: blue;
    background-image: linear-gradient(to right, #ccc, blue, #ccc);
}


#post{
    height: 150px;
}

#submit{
    width: 100px;
    display: block;
    float: right
}

.msg-label{
    font-size: 18px;
}

.comment-box{
    margin: 10px 10px 10px 40px;
    padding-left: 40px;
    width: 500px;
}

.msg-txt{
    font-size: 17px;
    color: purple;
}

#comment-btn{
    float: right;
    margin-top: 10px;
}

.user{
    font-weight: bold;
    color: rgb(14,102,202);
}