<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles.css">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <title>Owls!!! :)</title>
    </head>
    <body>
        <h2>Add a new Owl</h2>
        <form action='/owls' method='post'>
            <label for='name'>Name: </label>
            <input type='text' name='name'>
            <label for='age'>Age: </label>
            <input type='number' name='age'>
            <label for='spirit'>Spirit Person: </label>
            <input type='text' name='spirit'>
            <input type='submit' name='Add'>
        </form>
    </body>
</html>